<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <title>Dia</title>
</head>
<body >
    <nav class="panel" style="height: 100vh">
        <p class="panel-heading ">
            Dia
        </p>
        {{if not .}}
            <div class="hero is-fullheight">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title is-1">This folder is empty</h1>
                        <h2 class="title is-3">
                            <a class="button is-info" href="../">
                                Go Back
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        {{else}}
            <a href="../" class="panel-block">../</a>
            {{range .}}
                {{if .IsDir}}
                    <a href="./{{.Name}}/" class="panel-block">{{.Name}}</a>
                {{else}}
                    <a href="./{{.Name}}" class="panel-block">{{.Name}}</a>
                {{end}}
            {{end}}
        {{end}}
    </nav>

</body>
</html>